@import "../styles.less";

body {
    background-color: @black;
    color: white;
}

//---- Header ----

.navbar {
    background: @black;
}

.navbar a:link { color: white; }
.navbar a:visited { color: white; }
.navbar a:hover { color: @red; }
.navbar a:active { color: white; }

.navbar .nav-link.active {
    background: @red;
    border-radius: 0;
}


.navbar-toggler {
    color: white;
}

//---- Main ----

.main-container {
    padding: 8em 0 0 0;
}

.intra-section {
    margin: 0 0 2em 0;
}

.xavi-image {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background: url('../../img/xavi.png') no-repeat @red;
    background-size: 390px;
    background-position: center;
    float: left;
}

.hi {
    text-align: right;
}

.hi h1 {
    font-size: 80px;
    color: white;
}

.hi .name-changing {
    display: inline;
}

.typed-cursor {
    color: white;
}

//---- About Me ----
.tags {
    color: white;
}

.tags .explanation {
    font-size: 1.1rem;
}

//---- Trajectory ----

.trajectories {
    width: 100%;
}

.trajectories .trajectory-point {
    text-align: center;
    margin: 0 auto 4em auto;
    color: white;
}

.trajectories .trajectory-point .trajectory-point-circle {
    width: 125px;
    height: 125px;
    margin: 0 auto 1.5em auto;
    border-radius: 100%;
    background-position: center;
    background-size: 125px;
    background-repeat: no-repeat;
}

.trajectories .trajectory-point .trajectory-point-description {
    word-wrap: break-word;
    width: 85%;
    margin: 0 auto;
}

.trajectories .trajectory-point .trajectory-point-technologies {
    word-wrap: break-word;
    width: 75%;
    margin: 0 auto;
    font-size: 2.5em;
}

.trajectories .trajectory-point .trajectory-point-technologies .technology-img {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-size: 1em;
    background-position: center;
}

.trajectories .trajectory-point .trajectory-point-technologies a:link { color: white; }
.trajectories .trajectory-point .trajectory-point-technologies a:visited { color: white; }
.trajectories .trajectory-point .trajectory-point-technologies a:hover { color: inherit; text-decoration: none; opacity: 0.8; }
.trajectories .trajectory-point .trajectory-point-technologies a:active { color: white; }

.trajectories .trajectory-point hr {
    border-color: white;
    width: 35%;
}

.privalia-logo {
    background-image: url('../../img/privalia_logo.png');
}

.brainworks-logo {
    background-image: url('../../img/brainworks_logo.jpg');
}

.assoftware-logo {
    background-image: url('../../img/assoftware_logo.jpg');
    background-size: 140px !important;
}

.concatel-logo {
    background-image: url('../../img/concatel_logo.jpg');
}

.once-logo {
    background-image: url('../../img/once_logo.jpg');
}

.elasticsearch-logo {
    background-image: url('../../img/elasticsearch_logo.png');
}

.jenkins-logo {
    background-image: url('../../img/jenkins_logo.png');
}

.nunit-logo {
    background-image: url('../../img/nunit_logo.png');
}

.grafana-logo {
    background-image: url('../../img/grafana_logo.png');
}

.powerbuilder-logo {
    background-image: url('../../img/powerbuilder_logo.png');
}

.andengine-logo {
    background-image: url('../../img/andengine_logo.png');
}


//---- Works ----

.works {
    width: 100%;
}

.works .work {
    width: 100%;
    background: @black-focus;
    padding: 2em;
    margin: 0 auto;
}

.works .work .image {
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-color: @black;
    margin: 0 auto;
}

.works .work .information {
    display: inline-block;
}

.works .work .information .description {
    padding-left: 0.5em;
    word-wrap: break-word;
}

.works .work .sources {
    text-align: right;
    font-size: 2.5em;
}

.works .work .sources a:link { color: white; }
.works .work .sources a:visited { color: white; }
.works .work .sources a:hover { color: white; opacity: 0.8; text-decoration: none; }
.works .work .sources a:active { color: white; }


.allwepay-logo {
    background-image: url('../../img/allwepay_logo.png') !important;
    background-size: 75px !important;
}

.caniscape-logo {
    background-image: url('../../img/caniscape_logo.png') !important;
    background-size: 65px !important;
}

.raspberrypi-logo {
    background-image: url('../../img/raspberry_logo.png') !important;
}

.threedprint-logo {
    background-image: url('../../img/thingiverse_logo.png') !important;
}

.xavi-logo {
    background-image: url('../../img/xavi.png') !important;
    background-size: 110px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        padding: 0em 1em 0 1em;
    }

    .hi h1, .typed-cursor {
        font-size: 50px;
    }

    .xavi-image {
        width: 250px;
        height: 250px;
        background-size: 290px;
        float: none;
        margin: 0 auto;
    }

    .works .work .information .title, .works .work .information .description {
        text-align: center;
    }

    .works .work .sources {
        text-align: center;
    }

    .works .work .information .description {
        padding-left: 0;
    }
} 

/*---- Hobbies ----*/

.hobbie {
    margin: 0 auto 20px auto;
    width: 100%;
}

.hobbie .information {
    background-color: @black-focus;
    padding: 15px 15px 15px 15px;
}

.hobbie img {
    width: 100%;
    margin-bottom: 15px;
}

.hobbie p {
    margin-left: 15px;
}

//---- Contact ----

.map-container {
    width: 100%;
    margin-bottom: 30px;
}

#map {
    width: 100%;
    height: 400px;
}

#contact .information {
    color: white;
}

#contact .information .section {
    margin-bottom: 20px;
}

#contact .information .contact a:link { color: white; }
#contact .information .contact a:visited { color: white; }
#contact .information .contact a:hover { color: @red; }
#contact .information .contact a:active { color: white; }

#contact .information .social-networks {
    font-size: 40px;
}

#contact .information .social-networks a:link { color: white; }
#contact .information .social-networks a:visited { color: white; }
#contact .information .social-networks a:hover { color: @red; text-decoration: none; }
#contact .information .social-networks a:active { color: white; }


//---- Footer ----
.nothingelse {
    height: 1600px;
    display: table;
}

.nothingelse div {
    display: table-cell;
    vertical-align: bottom;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {

    body {
        padding: 0em 2em 0 2em;
    }

    .hi h1, .typed-cursor {
        font-size: 60px;
    }
    
    .xavi-image {
        width: 300px;
        height: 300px;
        background-size: 340px;
        float: none;
        margin: 0 auto;
    }

    .works .work .information .title, .works .work .information .description {
        text-align: center;
    }

    .works .work .sources {
        text-align: center;
    }

    .works .work .information .description {
        padding-left: 0;
    }

    .hobbie {
        width: 100%;
    }

    #map {
        height: 300px;
    } 
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body {
        padding: 0em 4em 0 4em;
    }

    .hi h1, .typed-cursor {
        font-size: 70px;
    }

    .xavi-image {
        width: 325px;
        height: 325px;
        background-size: 370px;
        float: none;
        margin: 0 auto;
    }

    .works .work .information .title, .works .work .information .description {
        text-align: center;
    }

    .works .work .sources {
        text-align: center;
    }

    .works .work .information .description {
        padding-left: 0;
    }

    .hobbie {
        width: 90%;
    }

    #map {
        height: 300px;
    } 
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body {
        padding: 0em 7em 0 7em;
    }

    .hi h1, .typed-cursor {
        font-size: 80px;
    }

    .xavi-image {
        width: 325px;
        height: 325px;
        background-size: 370px;
        float: left;
    }

    .works .work .information .title, .works .work .information .description {
        text-align: left;
    }

    .works .work .sources {
        text-align: right;
    }

    .hobbie {
        width: 70%;
    }

    #map {
        height: 350px;
    } 
} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    body {
        padding: 0em 8em 0 8em;
    }

    .hi h1, .typed-cursor {
        font-size: 100px;
    }

    .xavi-image {
        width: 400px;
        height: 400px;
        background-size: 450px;
        float: left;
    }

    .works .work .information .title, .works .work .information .description {
        text-align: left;
    }

    .works .work .sources {
        text-align: right;
    }

    .hobbie {
        width: 70%;
    }

    #map {
        height: 400px;
    } 
}
