//https://coolors.co/fc4444-ffffff-ffbe32-299cce-1e489e
@red: rgba(253, 68, 69, 1);
@white: rgba(255, 255, 255, 1);
@yellow: rgba(255, 175, 0, 1);
@blue: rgba(0, 145, 207, 1);
@blue-dark: rgba(1, 53, 158, 1);
@black: rgba(47, 47, 47, 1);
@black-focus: rgb(82, 82, 82);
@black-important: rgb(0, 0, 0);
@specflow: rgb(99, 105, 176);

.specflow-color {
    color: @specflow;
}